#body{
    background: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    
}

.cards{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}


.movieCards{   
    width: 100%;
    border-radius: 20px;
    padding: 15px;
}