#body{
    background: black;
    color: white;
}


.cards{
    columns: 4 10px;
    column-gap: 10px;
    gap: 10px;
}


.movieCards{    justify-content: space-around;

    width: 300px;
    height: 250px;
    padding: 20px;
}